<footer>
  <div class="container">
    <ul class="row-fluid">
      <!-- Edit your footer content here -->
      <li>
        <a href="">About Us</a>
      </li>
      <li>
        <a href="">Terms of Use</a>
      </li>
      <li>
        <a href="">Privacy</a>
      </li>
      <li>
        <a href="">Social</a>
      </li>
      <li>
        <a href="">Contact Us</a>
      </li>
    </ul>
  </div>
  <!-- Edit your copyright here -->
  <p>Built by Ben Lewis, with apologies to Bit.ly. For demo purposes only.</p>
</footer>