<header id="main-header">
        <section class="container">
          <!-- Edit your introduction here -->
          <h1>Making it easy to share the web</h1>
          <h2>JetFuel Express is the fast and easy way to 
          manage your links.<br />
          Sign up today!</h2>

        </section>
      </header>

      <article>
        <div class="container">
          <ul class="row-fluid">
            <li class="span3"> 
              <i class="foundicon-checkmark"></i>
              <div class="box">
                <!-- Edit your article content here -->
                <h3>Fast</h3>
                <p>
                  Built on the ultra-fast Node.js framework Express.js, so you
                  can get your links ready with less waiting.
                </p>
              </div>
            </li>
            <li class="span3"> 
              <i class="foundicon-edit"></i>
              <div class="box">
                <!-- Edit your article content here -->
                <h3>Convenient</h3>
                <p>
                  JetFuelExpress remembers your shortened links, so you can use
                  them again with no effort.
                </p>
              </div>
            </li>
            <li class="span3">
              <i class="foundicon-tools"></i>
              <div class="box">
                <!-- Edit your article content here -->
                <h3>Social</h3>
                <p>
                  Show your friends what youre reading. Share links via Twitter.
                </p>
              </div>
            </li>
            <li class="span3">
              <i class="foundicon-add-doc"></i>
              <div class="box">
                <!-- Edit your article content here -->
                <h3>Responsive</h3>
                <p>
                  JetFuel Express looks great on a wide variety of devices. Check
                  it out on your tablet, phone, or other device!
                </p>

              </div>
            </li>
          </ul>
        </div>
      </article>