<div id="subtheme">
  <div class="container">
    <form id="addUrl" action="#">
      <input id="originalUrl" type="text" placeholder="Paste your link" required />
      <button class="btn btn-gold" id="submit-button">Shorten</button>
    </form>
  </div>
</div>