<li class="span12">
  <div class="box">
    <!-- Edit your article content here -->
    <h3>Your Shortened Link</h3>
    <p>{{ shortenedUrl }}</p>
    <p>{{ title }}</p>
    <p>{{ originalUrl }}</p>
    <p>{{ description }}</p>
    <button class="btn btn-gold delete">Delete</button>
  </div>
</li>