/* line 3, ../sass/modules/_sub_theme.scss */
div#subtheme {
  background: #ddd;
  color: black;
  text-align: center;
  padding: 20px;
}
/* line 8, ../sass/modules/_sub_theme.scss */
div#subtheme ul, div#subtheme li {
  float: none;
  position: relative;
  margin: 0px 0px 0px 0px;
}
/* line 13, ../sass/modules/_sub_theme.scss */
div#subtheme ul {
  list-style-type: none;
}
/* line 15, ../sass/modules/_sub_theme.scss */
div#subtheme ul li {
  display: inline-block;
  margin: 0 10px;
}
/* line 18, ../sass/modules/_sub_theme.scss */
div#subtheme ul li .btn-small {
  text-shadow: none;
  border: none;
  color: #fff;
  padding: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px inset;
}
/* line 24, ../sass/modules/_sub_theme.scss */
div#subtheme ul li .btn-small:hover {
  background-position: 0;
}
/* line 28, ../sass/modules/_sub_theme.scss */
div#subtheme ul li .theme-default {
  background: #3079a0;
}
/* line 30, ../sass/modules/_sub_theme.scss */
div#subtheme ul li .theme-default:hover {
  background-color: #256c93;
}
/* line 34, ../sass/modules/_sub_theme.scss */
div#subtheme ul li .sub-theme-dark {
  background: #1a1a1a;
}
/* line 36, ../sass/modules/_sub_theme.scss */
div#subtheme ul li .sub-theme-dark:hover {
  background-color: #2a2a2a;
}
/* line 40, ../sass/modules/_sub_theme.scss */
div#subtheme ul li .sub-theme-light {
  background: #f4f4f4;
  color: black;
}
/* line 43, ../sass/modules/_sub_theme.scss */
div#subtheme ul li .sub-theme-light:hover {
  background-color: #fff;
}
/* line 47, ../sass/modules/_sub_theme.scss */
div#subtheme ul li .sub-theme-red {
  background: #610B0B;
}
/* line 49, ../sass/modules/_sub_theme.scss */
div#subtheme ul li .sub-theme-red:hover {
  background-color: #7d1919;
}
/* line 53, ../sass/modules/_sub_theme.scss */
div#subtheme ul li .sub-theme-tan {
  background: #e2dace;
  color: black;
}
/* line 56, ../sass/modules/_sub_theme.scss */
div#subtheme ul li .sub-theme-tan:hover {
  background-color: #F1EAE1;
}
/* line 62, ../sass/modules/_sub_theme.scss */
div#subtheme ul li p a:hover {
  text-decoration: none;
}

/* line 26, ../sass/modules/_nav.scss */
nav {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0 20px 0;
  text-align: center;
}
/* line 30, ../sass/modules/_nav.scss */
nav a.brand {
  letter-spacing: 1px;
  color: #f4f4f4;
  font-size: 32px;
  font-weight: 900;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}
/* line 38, ../sass/modules/_nav.scss */
nav a.brand:hover {
  color: #c0e4ff;
  text-decoration: none;
}

/* line 52, ../sass/modules/_header.scss */
header {
  background-color: #222222;
  background: url("../images/bg.jpg") center no-repeat;
}
/* line 55, ../sass/modules/_header.scss */
header section {
  padding: 100px 0 120px;
  text-align: center;
}
/* line 58, ../sass/modules/_header.scss */
header section h1, header section h2 {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}
/* line 62, ../sass/modules/_header.scss */
header section h1 {
  font-weight: 400;
  text-shadow: 0 1px 0 #374683;
}
/* line 66, ../sass/modules/_header.scss */
header section h2 {
  font-weight: 300;
}
/* line 69, ../sass/modules/_header.scss */
header section form {
  padding-top: 1.5em;
}
/* line 71, ../sass/modules/_header.scss */
header section form input:first-child {
  background: white;
  color: black;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 200px;
  border-radius: 4px;
  height: auto;
  padding: 11px 5px;
  margin-bottom: 0;
}
/* line 76, ../sass/modules/_header.scss */
header section form input:first-child:focus {
  outline: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset, rgba(82, 168, 236, 0.6) 0 0 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset, rgba(82, 168, 236, 0.6) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset, rgba(82, 168, 236, 0.6) 0 0 8px;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
/* line 82, ../sass/modules/_header.scss */
header section form .btn-gold {
  padding: 13px 5px;
  background: white;
  color: black;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 200px;
  border-radius: 4px;
  background-color: #a3681b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE9A041', endColorstr='#FF7C4907');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9a041), color-stop(100%, #7c4907));
  background-image: -webkit-linear-gradient(top, #e9a041 0%, #7c4907);
  background-image: -moz-linear-gradient(top, #e9a041 0%, #7c4907);
  background-image: -o-linear-gradient(top, #e9a041 0%, #7c4907);
  background-image: linear-gradient(top, #e9a041 0%, #7c4907);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px, rgba(255, 255, 255, 0.5) 0 0 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px, rgba(255, 255, 255, 0.5) 0 0 1px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px, rgba(255, 255, 255, 0.5) 0 0 1px inset;
  color: white;
  border: 1px solid #613e12;
  text-shadow: 0 1px 0 #6d4107;
}
/* line 90, ../sass/modules/_header.scss */
header section form .btn-gold:hover {
  background-color: #bd7921;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFBA60', endColorstr='#FF7C4907');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffba60), color-stop(100%, #7c4907));
  background-image: -webkit-linear-gradient(top, #ffba60 0%, #7c4907);
  background-image: -moz-linear-gradient(top, #ffba60 0%, #7c4907);
  background-image: -o-linear-gradient(top, #ffba60 0%, #7c4907);
  background-image: linear-gradient(top, #ffba60 0%, #7c4907);
  background-position: 0;
  color: white;
}
/* line 95, ../sass/modules/_header.scss */
header section form .btn-gold:active {
  outline: none;
  background-color: #b1701c;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7C4907', endColorstr='#FFB1701C');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(22%, #7c4907), color-stop(100%, #b1701c));
  background-image: -webkit-linear-gradient(top, #7c4907 22%, #b1701c 100%);
  background-image: -moz-linear-gradient(top, #7c4907 22%, #b1701c 100%);
  background-image: -o-linear-gradient(top, #7c4907 22%, #b1701c 100%);
  background-image: linear-gradient(top, #7c4907 22%, #b1701c 100%);
}

/* line 73, ../sass/modules/_article.scss */
article {
  background: #1a1a1a;
  padding: 20px 0 40px 0;
}
/* line 76, ../sass/modules/_article.scss */
article ul {
  margin: 0;
  padding: 0;
}
/* line 79, ../sass/modules/_article.scss */
article ul li {
  text-align: center;
  padding-top: 20px;
  color: white;
}
/* line 83, ../sass/modules/_article.scss */
article ul li i {
  color: #cccccc;
  font-size: 40px;
  text-shadow: 0 0 1px #333333;
}
/* line 88, ../sass/modules/_article.scss */
article ul li .box {
  margin-top: 20px;
  padding: 10px 20px 20px 20px;
  border-radius: 4px;
  border: 1px solid #1c1c1c;
  background: #2a2a2a;
  box-shadow: 0 0 6px black inset;
}
/* line 95, ../sass/modules/_article.scss */
article ul li .box h3 {
  color: inherit;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 28px;
}
/* line 101, ../sass/modules/_article.scss */
article ul li .box p {
  color: #f4f4f4;
  line-height: 150%;
}

/* line 24, ../sass/modules/_footer.scss */
footer {
  background: #111111;
  color: #777777;
  text-align: center;
  padding: 40px;
}
/* line 29, ../sass/modules/_footer.scss */
footer ul, footer li {
  float: none;
  position: relative;
}
/* line 33, ../sass/modules/_footer.scss */
footer ul {
  margin: 0 0 20px 0;
  padding-bottom: 20px;
  list-style-type: none;
}
/* line 37, ../sass/modules/_footer.scss */
footer ul li {
  display: inline-block;
  margin: 0 10px;
}
/* line 40, ../sass/modules/_footer.scss */
footer ul li a {
  color: #cccccc;
}
/* line 42, ../sass/modules/_footer.scss */
footer ul li a:hover {
  text-decoration: none;
  color: #29a3d0;
}

/* font-face */
@font-face {
  font-family: "GeneralFoundicons";
  src: url("../font/general_foundicons.eot");
  src: url("../font/general_foundicons.eot?#iefix") format("embedded-opentype"), url("../font/general_foundicons.woff") format("woff"), url("../font/general_foundicons.ttf") format("truetype"), url("../font/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
/* line 7, ../sass/modules/fonts/general_foundicons.scss */
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 17, ../sass/modules/fonts/general_foundicons.scss */
[class*="foundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-settings:before {
  content: "\f000";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-heart:before {
  content: "\f001";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-star:before {
  content: "\f002";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-plus:before {
  content: "\f003";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-minus:before {
  content: "\f004";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-checkmark:before {
  content: "\f005";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-remove:before {
  content: "\f006";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-mail:before {
  content: "\f007";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-calendar:before {
  content: "\f008";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-page:before {
  content: "\f009";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-tools:before {
  content: "\f00a";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-globe:before {
  content: "\f00b";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-home:before {
  content: "\f00c";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-quote:before {
  content: "\f00d";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-people:before {
  content: "\f00e";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-monitor:before {
  content: "\f00f";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-laptop:before {
  content: "\f010";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-phone:before {
  content: "\f011";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-cloud:before {
  content: "\f012";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-error:before {
  content: "\f013";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-right-arrow:before {
  content: "\f014";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-left-arrow:before {
  content: "\f015";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-up-arrow:before {
  content: "\f016";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-down-arrow:before {
  content: "\f017";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-trash:before {
  content: "\f018";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-add-doc:before {
  content: "\f019";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-edit:before {
  content: "\f01a";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-lock:before {
  content: "\f01b";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-unlock:before {
  content: "\f01c";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-refresh:before {
  content: "\f01d";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-paper-clip:before {
  content: "\f01e";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-video:before {
  content: "\f01f";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-photo:before {
  content: "\f020";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-graph:before {
  content: "\f021";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-idea:before {
  content: "\f022";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-mic:before {
  content: "\f023";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-cart:before {
  content: "\f024";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-address-book:before {
  content: "\f025";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-compass:before {
  content: "\f026";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-flag:before {
  content: "\f027";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-location:before {
  content: "\f028";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-clock:before {
  content: "\f029";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-folder:before {
  content: "\f02a";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-inbox:before {
  content: "\f02b";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-website:before {
  content: "\f02c";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-smiley:before {
  content: "\f02d";
}

/* line 6, ../sass/modules/fonts/_settings.scss */
.foundicon-search:before {
  content: "\f02e";
}
